# gprc dial out 
configure terminal
!
feature telemetry
telemetry
  destination-profile
    use-vrf management
  destination-group 1
    ip address 10.250.77.182 port 57000 protocol gRPC encoding GPB 
  sensor-group 1
    path /oc-if:interfaces/interface/subinterfaces/subinterface/state/oper-status
  subscription 1
    dst-grp 1
    snsr-grp 1 sample-interval 5000
